* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.6;
    background: linear-gradient(135deg, var(--primary-color1) 0%, var(--primary-color2) 100%);
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 2rem;
}

header {
    text-align: center;
    margin-bottom: 3rem;
}

h1 {
    font-size: 2.5rem;
    color: #0056ac;
    margin-bottom: 1rem;
}

.back-button {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin-bottom: 2rem;
    background-color: var(--cta-color);
    color: var(--title-color);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: var(--cta-color-hover);
}

.categories-grid, .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.category-card, .project-card {
    background: var(--header-color);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.category-card:hover, .project-card:hover {
    transform: translateY(-5px);
}

.category-image{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.project-image {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}

.category-content {
    padding: 1.5rem;
}

.project-content{
    padding: 0.5rem;
}

.category-title, .project-title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: var(--title-color)
}

.project-date {
    font-size: 1rem;
    color: var(--cta-color)
}

.category-description, .project-description {
    color: var(--text-color);
    margin-bottom: 1rem;
    font-family: roboto;
}

.project-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.tag {
    background: #e9ecef;
    color: #495057;
    padding: 0.25rem 0.75rem;
    border-radius: 15px;
    font-size: 0.875rem;
}

.project-links {
    display: flex;
    gap: 1rem;
}

.project-link {
    text-decoration: none;
    color: #007bff;
    font-weight: 500;
    transition: color 0.3s ease;
}

.project-link:hover {
    color: #0056b3;
}

.section-title1 {
    font-size: 4rem;
    color: var(--title-color);
    font-weight: 600;
}

.section-title2 {
    font-size: 3rem;
    color: var(--title-color);
    margin-bottom: 2rem;
    font-weight: 600;
}

/* Adjust spacing between title and back button */
.back-button {
    margin-top: 1rem;
    margin-bottom: 3rem;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .section-title {
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }
}